@font-face {
  font-family: MontRegular;
  src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: MontMedium;
  src: url("../fonts/Montserrat-Medium.otf");
}
@font-face {
  font-family: MontExtrabold;
  src: url("../fonts/Montserrat-ExtraBold.otf");
}
@font-face {
  font-family: MontBlack;
  src: url("../fonts/Montserrat-Black.otf");
}
@font-face {
  font-family: LatoRegu;
  src: url("../fonts/Lato-Regular.ttf");
}
#top-bar {
  background-color: #0000007c;
}
#top-bar .container {
  border-bottom: 3px solid rgba(255, 255, 255, 0.603);
  padding-bottom: 25px;
}
#top-bar .container .small_heading, #top-bar .container .small_heading_bold {
  font-size: 1rem;
}
#top-bar .container .icon {
  width: 30px;
  margin-right: 15px;
}
#top-bar .container .item img {
  display: inline-block;
}
#top-bar .container .item h6 {
  display: inline-block;
}
#top-bar .container .top-social-bar img {
  width: 40px;
}
@media only screen and (min-width: 576px) {
  #top-bar .container .top-social-bar img {
    width: 35px;
    margin-right: 12px;
  }
}
#top-bar .container .user-area .item img {
  margin-right: 0px;
}

.navbar {
  background-color: #0000007c;
}
.navbar .container .navbar-brand {
  font-family: MontBlack;
  color: white;
  text-align: left;
  text-transform: capitalize;
  font-size: 1.6rem;
}
.navbar .container .navbar-brand img {
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.navbar .container .navbar-nav .nav-link {
  font-family: MontMedium;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

#main .container {
  padding-top: 130px;
  padding-bottom: 130px;
}
@media only screen and (min-width: 992px) {
  #main .container {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container {
    padding-top: 240px !important;
  }
}
#main .container .text .first {
  font-size: 3.5rem;
}
@media only screen and (min-width: 768px) {
  #main .container .text .first {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  #main .container .text .first {
    font-size: 5.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container .text .first {
    font-size: 6.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  #main .container .text .first {
    font-size: 7rem;
  }
}
#main .container .text .secound {
  font-size: 2.5rem;
}
@media only screen and (min-width: 768px) {
  #main .container .text .secound {
    font-size: 2.8rem;
  }
}
@media only screen and (min-width: 992px) {
  #main .container .text .secound {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container .text .secound {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  #main .container .text .secound {
    font-size: 5.2rem;
  }
}

#find-hotel {
  background: url("../img/form_background.png") no-repeat center center;
  background-size: cover;
}
#find-hotel .container form label {
  font-family: MontMedium;
  color: black;
  text-align: left;
  text-transform: capitalize;
  font-size: 1.5rem;
}
#find-hotel .container form .submit-btn {
  background-color: #0000007c !important;
}
#find-hotel .container form .submit-btn:hover {
  color: white !important;
}

#trusted_since {
  background: url("../img/trusted_left.png") no-repeat center top;
  background-size: cover;
}
@media only screen and (min-width: 1400px) {
  #trusted_since {
    background: url("../img/trusted_left.png") no-repeat center top;
    background-size: cover;
  }
}
@media only screen and (min-width: 1200px) {
  #trusted_since .container {
    width: 100%!important;
    max-width: 1200px!important;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1400px) {
  #trusted_since .container {
    max-width: 1500px!important;
  }
}
.option_list {
  list-style: none;
}
.option_list li {
  position: relative;
}
.option_list li::before {
  content: "";
  width: 25px;
  height: 25px;
  background: url(../icons/check.png) no-repeat center center;
  background-size: 100%;
  position: absolute;
  left: -35px;
  top: 5px;
}
.option_list li.small::before {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 1200px) {
  #trusted_since .container img.highlight_img {
    height: 100% !important;
  }
}
@media only screen and (min-width: 1400px) {
  #trusted_since .container img.highlight_img {
    height: initial !important;
  }
}

#chooseYourJourney .container .option_wrap aside .img_wrap img {
  max-width: 120px;
}
@media only screen and (min-width: 576px) {
  #chooseYourJourney .container .option_wrap aside .img_wrap img {
    max-width: 90px;
  }
}
@media only screen and (min-width: 768px) {
  #chooseYourJourney .container .option_wrap aside .img_wrap img {
    max-width: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  #chooseYourJourney .container .option_wrap aside .img_wrap img {
    max-width: 95px;
  }
}
#chooseYourJourney .container .option_wrap aside .texts .para, #chooseYourJourney .container .option_wrap aside .texts .para_bold, #chooseYourJourney #packAndGo .container .option_wrap aside .texts .pack_wrapper .card .sm_head, #packAndGo #chooseYourJourney .container .option_wrap aside .texts .pack_wrapper .card .sm_head, #chooseYourJourney #packAndGo .container .pack_wrapper .card .option_wrap aside .texts .sm_head, #packAndGo #chooseYourJourney .container .pack_wrapper .card .option_wrap aside .texts .sm_head {
  max-width: 400px;
}

#selectYourPackage {
  background: url("../img/package.jpg") no-repeat center center;
  background-size: cover;
}
@media only screen and (min-width: 1200px) {
  #selectYourPackage {
    background: url("../img/package_color.png") no-repeat center bottom, url("../img/package.jpg") no-repeat center center;
    background-size: 100% 30%, cover;
  }
}
#selectYourPackage .container .package_wrap {
  margin-top: 80px;
}
#selectYourPackage .container .package_wrap .item {
  max-width: 400px;
  border-radius: 25px;
}
@media only screen and (min-width: 768px) {
  #selectYourPackage .container .package_wrap .item {
    max-width: 550px;
  }
}
@media only screen and (min-width: 1200px) {
  #selectYourPackage .container .package_wrap .item {
    max-width: 30%;
  }
}
#selectYourPackage .container .package_wrap .item .pack-price {
  width: 112%;
  margin-left: -6%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#selectYourPackage .container .package_wrap .item .pack-price .para, #selectYourPackage .container .package_wrap .item .pack-price .para_bold, #selectYourPackage #packAndGo .container .package_wrap .item .pack-price .pack_wrapper .card .sm_head, #packAndGo #selectYourPackage .container .package_wrap .item .pack-price .pack_wrapper .card .sm_head, #selectYourPackage #packAndGo .container .pack_wrapper .card .package_wrap .item .pack-price .sm_head, #packAndGo #selectYourPackage .container .pack_wrapper .card .package_wrap .item .pack-price .sm_head {
  font-size: 2rem;
}
#selectYourPackage .container .package_wrap .item .option_list {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1200px) {
  #selectYourPackage .container .package_wrap .item .option_list .para_bold, #selectYourPackage #packAndGo .container .package_wrap .item .option_list .pack_wrapper .card .sm_head, #packAndGo #selectYourPackage .container .package_wrap .item .option_list .pack_wrapper .card .sm_head, #selectYourPackage #packAndGo .container .pack_wrapper .card .package_wrap .item .option_list .sm_head, #packAndGo #selectYourPackage .container .pack_wrapper .card .package_wrap .item .option_list .sm_head {
    margin-bottom: 5px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1400px) {
  #selectYourPackage .container .package_wrap .item .option_list .para_bold, #selectYourPackage #packAndGo .container .package_wrap .item .option_list .pack_wrapper .card .sm_head, #packAndGo #selectYourPackage .container .package_wrap .item .option_list .pack_wrapper .card .sm_head, #selectYourPackage #packAndGo .container .pack_wrapper .card .package_wrap .item .option_list .sm_head, #packAndGo #selectYourPackage .container .pack_wrapper .card .package_wrap .item .option_list .sm_head {
    margin-bottom: 8px;
  }
}

#takeYourJourney .container .texts .figure {
  width: 100%;
  max-width: 520px;
}
@media only screen and (min-width: 992px) {
  #takeYourJourney .container .texts .figure {
    max-width: 700px;
  }
}
@media only screen and (min-width: 1200px) {
  #takeYourJourney .container .texts .figure {
    max-width: 100%;
  }
}
#takeYourJourney .container .texts .button_wrapper {
  max-width: 450px;
}
@media only screen and (min-width: 768px) {
  #takeYourJourney .container .texts .button_wrapper {
    width: 100%;
    max-width: 650px;
  }
}
@media only screen and (min-width: 1200px) {
  #takeYourJourney .container .texts .button_wrapper {
    max-width: 100%;
    margin-top: 70px!important;
  }
}
#takeYourJourney .container .texts .button_wrapper .button {
  border: 0px;
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}
#takeYourJourney .container .texts .button_wrapper .button h3 {
  font-size: 22px;
  margin-top: 5px;
}
#takeYourJourney .container .texts .button_wrapper .button img {
  max-width: 120px;
}
@media only screen and (min-width: 768px) {
  #takeYourJourney .container .texts .button_wrapper .button img {
    max-width: 55px;
  }
}
@media only screen and (min-width: 1200px) {
  #takeYourJourney .container .texts .button_wrapper .button img {
    max-width: 40px;
  }
}
#takeYourJourney .container .texts .button_wrapper .button.active {
  background-color: #00a4ff;
}
@media only screen and (min-width: 1200px) {
  #takeYourJourney .container .texts .para, #takeYourJourney .container .texts .para_bold, #takeYourJourney #packAndGo .container .texts .pack_wrapper .card .sm_head, #packAndGo #takeYourJourney .container .texts .pack_wrapper .card .sm_head, #takeYourJourney #packAndGo .container .pack_wrapper .card .texts .sm_head, #packAndGo #takeYourJourney .container .pack_wrapper .card .texts .sm_head {
    margin-top: 70px!important;
    margin-left: 0px!important;
  }
}
@media only screen and (min-width: 1200px) {
  #takeYourJourney .container .texts .btn_wrapper {
    margin-top: 100px!important;
  }
}

#packAndGo {
  background: url("../img/onTheGo_bg.jpg") no-repeat center center;
  background-size: cover;
}
@media only screen and (min-width: 1200px) {
  #packAndGo {
    background-size: 100% 70%;
    background-color: #00a4ff;
    background-position: center top;
  }
}
@media only screen and (min-width: 1200px) {
  #packAndGo .container {
    padding-top: 180px!important;
    padding-bottom: 150px!important;
  }
}
@media only screen and (min-width: 1400px) {
  #packAndGo .container {
    padding-top: 200px!important;
    padding-bottom: 180px!important;
  }
}
#packAndGo .container .pack_wrapper {
  margin-top: 70px!important;
}
@media only screen and (min-width: 992px) {
  #packAndGo .container .pack_wrapper {
    margin-top: 100px!important;
  }
}
@media only screen and (min-width: 1200px) {
  #packAndGo .container .pack_wrapper {
    margin-top: 150px!important;
  }
}
#packAndGo .container .pack_wrapper .card {
  cursor: pointer;
  max-width: 450px;
}
@media only screen and (min-width: 992px) {
  #packAndGo .container .pack_wrapper .card {
    max-width: initial!important;
  }
}
.card-img-top {
  border-radius: 25px 25px 0px 0px;
}
@media only screen and (min-width: 992px) {
  .card-img-top {
    border-radius: 25px 0px 0px 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .card-img-top {
    border-radius: 25px 25px 0px 0px;
  }
}

#packAndGo .container .pack_wrapper .card .sm_head {
  font-size: 1.6rem!important;
}
#packAndGo .container .pack_wrapper .card .section_heading, #packAndGo .container .pack_wrapper .card .assis_heading {
  font-size: 2rem;
}
@media only screen and (min-width: 1200px) {
  #packAndGo .container .pack_wrapper .card.active {
    transform: scale(1.15, 1.15);
    background: url("../img/onTheGo/packageAnimation.png") no-repeat center bottom;
    background-size: 100% 100%;
    padding-bottom: 80px;
    position: relative;
    z-index: 100;
    border-color: #00a4ff;
  }
}

#experienceTheWorld {
  background: #0000002c url("../img/experianceAmazing.jpg") no-repeat center center;
  background-size: cover;
}
#experienceTheWorld .container .card .btn_wrapper .btn {
  margin-top: -65px;
}
@media only screen and (min-width: 992px) {
  #experienceTheWorld .container .card .btn_wrapper .btn {
    margin-top: 55px;
  }
}
@media only screen and (min-width: 1200px) {
  #experienceTheWorld .container .card .btn_wrapper .btn {
    margin-top: -65px;
  }
}
#experienceTheWorld .container .card .section_heading, #experienceTheWorld .container .card .assis_heading {
  font-size: 25px;
}

@media only screen and (min-width: 576px) {
  #newYorkParis {
    background: url("../img/newYorkParis.jpg") no-repeat left top;
    background-size: 200%;
  }
}
@media only screen and (min-width: 992px) {
  #newYorkParis {
    background-size: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  #newYorkParis {
    background-size: 1300px;
  }
}
@media only screen and (min-width: 576px) {
  #newYorkParis .container {
    padding-top: 600px!important;
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 992px) {
  #newYorkParis .container {
    padding-top: 150px!important;
  }
}
#newYorkParis .container .wrapper {
  background-color: white;
}
@media only screen and (min-width: 576px) {
  #newYorkParis .container .wrapper {
    max-width: 450px;
  }
}
@media only screen and (min-width: 768px) {
  #newYorkParis .container .wrapper {
    max-width: 500px;
  }
}
@media only screen and (min-width: 992px) {
  #newYorkParis .container .wrapper {
    max-width: 650px;
  }
}
#newYorkParis .container .wrapper h6.para_bold, #newYorkParis #packAndGo .container .wrapper .pack_wrapper .card h6.sm_head, #packAndGo #newYorkParis .container .wrapper .pack_wrapper .card h6.sm_head, #newYorkParis #packAndGo .container .pack_wrapper .card .wrapper h6.sm_head, #packAndGo #newYorkParis .container .pack_wrapper .card .wrapper h6.sm_head {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 8px;
}
#newYorkParis .container .wrapper .option_wrap {
  max-width: 450px;
}
#newYorkParis .container .wrapper .display-1 {
  font-size: 3rem;
}
#newYorkParis .container .wrapper .bottom {
  max-width: 400px;
}

#customerReview {
  background: black url("../img/customer_review_sm.png") no-repeat center center;
  background-size: cover;
}
#customerReview .container h1, #customerReview .container p {
  color: white;
}
#customerReview .container .star_wrapper {
  max-width: 250px;
}
#customerReview .container .star_wrapper img {
  width: 35px;
}
#customerReview .container .client_wrap {
  width: 100%;
  max-width: 325px;
}
#customerReview .container .client_wrap img {
  width: 100px;
}
#customerReview .container .client_wrap .details {
  margin-left: 8px;
}
#customerReview .container .client_wrap .details h1 {
  font-size: 1.6rem;
  margin-top: 17px;
}

#startYourJourney {
  background: url("../img/startYourJourney.jpg") no-repeat center top;
  background-size: 100% 100%;
}
#startYourJourney .container .location {
  margin-top: 80px;
}
#startYourJourney .container .location img {
  width: 400px;
}

#address .container .row .img_wrap {
  width: 100px;
  margin-right: 20px;
}
@media only screen and (min-width: 576px) {
  #address .container .row .img_wrap {
    margin-right: 0px;
  }
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

a,
img {
  display: inline-block;
}

.para, .para_bold, #packAndGo .container .pack_wrapper .card .sm_head {
  font-family: MontRegular;
  color: black;
  text-align: left;
  text-transform: initial;
  font-size: 1rem;
}
@media only screen and (min-width: 1200px) {
  .para, .para_bold, #packAndGo .container .pack_wrapper .card .sm_head {
    font-size: 1.15rem;
  }
}

.para_bold, #packAndGo .container .pack_wrapper .card .sm_head {
  font-weight: bold;
}

.section_heading, .assis_heading {
  font-family: MontBlack;
  color: black;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.2rem;
}
@media only screen and (min-width: 992px) {
  .section_heading, .assis_heading {
    font-size: 2.6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .section_heading, .assis_heading {
    font-size: 3rem;
  }
}

.assis_heading {
  font-family: MontMedium;
}

.small_heading, .small_heading_bold {
  font-family: MontMedium;
  color: black;
  text-align: left;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.small_heading_bold {
  font-family: MontExtrabold;
}

.btn_wrapper {
  text-align: center;
}

.btn {
  font-family: MontMedium;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 15px 40px !important;
  background-color: #f3db3a;
  padding: 5px;
}

.yellow {
  color: #f3db3a;
}

.yellow_bg {
  background-color: #f3db3a;
}

.black {
  color: #4b4b4b;
}

.black_bg {
  background-color: #4b4b4b;
}

.container {
  padding-top: 80px;
  padding-bottom: 80px;
}

#nav-main-wrapper {
  background: url("../img/main-nav-bg.jpg") no-repeat center center;
  background-size: cover;
}

.cus_rounded {
  border-radius: 25px!important;
}

.box_shadow, #newYorkParis .container .wrapper {
  box-shadow: 1px 1px 15px #0000002e, -1px -1px 15px #0000002e;
}

/*# sourceMappingURL=style.css.map */
