#address {
    .container {
        .row {
            .img_wrap {
                width: 100px;
                margin-right: 20px;
                // responsive 
                @include resp ($sm) {
                    margin-right: 0px;
                }
            }
        }
    }
}