#customerReview {
    background: black url('../img/customer_review_sm.png') no-repeat center center;
    background-size: cover;
    .container {
        // common style 
        h1, p {
            color: white;
        }

        // star wrapper 
        .star_wrapper {
            max-width: 250px;
            img {
                width: 35px;
            }
        }

        // client image 
        .client_wrap {
            width: 100%;
            max-width: 325px;
            img {
                width: 100px;
            }

            .details {
                
                margin-left: 8px;
                h1 {
                    font-size: 1.6rem;
                    margin-top: 17px;
                }
            }
        }

    } 
}