#experienceTheWorld {
    background: #0000002c url('../img/experianceAmazing.jpg') no-repeat center center;
    background-size: cover;
    .container {
        .card {
            // btn
            .btn_wrapper {
                .btn {
                    margin-top: -65px;
                    // responsive
                    @include resp($lg) {
                        margin-top: 55px;
                    }
                    @include resp($xl) {
                        margin-top: -65px;
                    }
                }
            }
            // heading 
            .section_heading {
                font-size: 25px;
            }
        }
    }
}
