// colors 
$yellow: #f3db3a;
$black: #4b4b4b;
$trans_black: #0000007c;




// responsive 

  $xs: 0;
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1400px;



  @mixin resp ($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
  }

@mixin bgimg ($src, $size, $position) {
    background: url($src) no-repeat $position;
    background-size: $size;
}

// fonts 
@mixin fonts ($name, $size, $color, $align, $transform) {
    font-family: $name;
    color: $color;
    text-align: $align;
    text-transform: $transform;
    font-size: $size;
}

@mixin padY ($t, $b) {
    padding-top: $t;
    padding-bottom: $b;
}


@function im ($value) {
  $counter: unquote(!important);
  $counter: $value + $counter;
  @return $counter;
}



