#startYourJourney {
    background: url("../img/startYourJourney.jpg") no-repeat center top;
    background-size: 100% 100%;
    .container {
        @include resp ($lg) {
            padding-bottom: 80px;
        }
        .location {
            margin-top: 80px;
            img {
                width: 230px;
                @include resp($sm) {
                    width: 280px;
                }
                @include resp ($lg) {
                    width: 330px;
                }
            }
        }
    }
}
