@import 'fonts';
@import 'mixingVariable';
@import 'topBar';
@import 'navBar';
@import 'main';
@import 'findHotel';




p, a, h1, h2, h3, h4, h5, h6 {
    color: white;
}

a, img {
    display: inline-block;
}


// fonts 

.para {
    @include fonts(LatoRegu, 1rem, white, left, uppercase);
}

.section_heading {
    @include fonts(MontBlack, 3rem, white, center, capitalize);
}

.assis_heading {
    @include fonts (MontRegular, 2rem, white, center, capitalize);
}

.small_heading {
    @include fonts (MontMedium, 1.5rem, white, left, capitalize);
}

// button 
.btn_wrapper {
    text-align: center;
}

.btn {
    @include fonts (MontMedium, 1rem, black, center, uppercase);
    padding: 15px 40px!important;
    background-color: $yellow;
    padding: 5px;
}

.yellow {
    color: $yellow;
}

.yellow_bg {
    background-color: $yellow;
}

.black {
    color: $black;
}

.black_bg {
    background-color: $black;
}


.container {
    @include padY (80px, 80px);
}



#nav-main-wrapper {
    @include bgimg ('../img/main-nav-bg.jpg', cover, center center);
}